/* Variables */
:root {
  --marron-suave: #622824;
  --marron-fuerte: #2f0618;
  --violeta-azulado: #412a9c;
  --azul-suave: #1b66ff;
  --celeste: #00cef5;
  --h2-font-family: "Raleway", sans-serif;
  --h2-color: #1b66ff;
}
